*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body { height: 100%; margin: 0px; padding: 0px; }
.full { height: 100%; box-sizing: border-box;}

body{

    font: 12px verdana, sans-serif;

    margin: 0px;

}

.header{

    padding: 10px 0;

    background-color: #679BB7;

}

.header h1{

    font-size: 18px;

    margin: 10px;

}

.container{

    width: 100%;

    background-color: #f0f0f0;

}

.wrapper{
    position: relative;
}

.sidebar{

    float: left;

    width: 20%;

    min-height: 170px;

    background-color: #bbd2df;
    padding: 20px;
    overflow-y: auto;

}

.sidebar .nav{

    padding: 10px;

}

.nav ul{

    list-style: none;

    padding: 0px;

    margin: 0px;

}

.nav ul li{

    margin-bottom: 5px;

}

.nav ul li a{

    color: #3d677e;

}

.nav ul li a:hover{

    text-decoration: none;

}

.content{

    float: left;

    width: 80%;

    min-height: 170px;

}

.content .section{

    padding: 10px;
    overflow-y: auto;
    position: relative;

}

.content h2{

    font-size: 16px;

    margin: 0px;

}

.clearfix{

    clear: both;

}

.footer{

    background-color: #679BB7;

    padding: 10px 0;

    position: fixed;
    bottom: 0;
    z-index: 200;
    width: 100%;

}

.footer p{

    text-align: center;

    margin: 5px;

}

.sidebar .search-row > div{
    float: left;
}
.sidebar input,.sidebar select{
    width: 100%;
    height: 30px;
    line-height: 25px;
    padding: 4px;
}

.sidebar .search-title-div{
    width: 100%;
    padding-bottom: 0;
}
.sidebar .search-operator-div{
    width: 40%;
}
.sidebar .search-value-div{
    width: 60%;
}

.search-row > div{
    padding: 5px 2px 10px 2px;
}

.search-submit-div, .search-limit-div, .note {
    width: 100%;
}
.note{
    color: #3c763d;
}
.search-submit-div input {
    height: 50px;
    width: 100%;
    font-weight: bold;
    color: #2e6da4;
}

.content .feed-item{
    /*width: 100%;*/
    min-height: 100px;
    margin: 10px;
    box-sizing: border-box;
    border: 3px solid #5e5e5e;
    background-color: #afd9ee;
    border-radius: 6px;
    padding: 10px;
    margin-top: 0;
}

.feed-item-attr-date, .feed-item-attr-link, .feed-item-attr-title, .feed-item-attr-description{
    font-weight: bold;
}

.content .feed-item a, .content .feed-item a:hover, .content .feed-item a:active{
    outline: 0;
    text-decoration: none;
    word-wrap: break-word;
}


.pagination {
    display: inline-block;
}
.pagination.last {
    margin-bottom: 30px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

#topPasination{
    margin: 15px 20px 5px 20px;
    box-sizing: border-box;
}
